.room-cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* margin-top: 10px; */
  /* margin-bottom: 20px; */
  min-height: calc(80vh - 100px);
}

.room-card {
  margin: 10px;
}
