.room-cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: calc(80vh - 100px);
}

.room-card {
  margin: 10px; /* Adjust the spacing between cards */
}

.card {
  width: 18rem;
}

.room-card .card {
  margin-bottom: 20px;
}
