.footer {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  padding-top: 20px;
}

.footer-container {
  text-align: center;
  color: white;
}

.colz-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.colz-icon a {
  margin: 0 10px;
  font-size: 24px;
  color: white;
  transition: color 0.3s ease;
}

.colz-icon a:hover {
  color: #999;
}
