.Footer {
  text-align: center;
  background-color: white;
  padding-top: 20px; /* Add padding to the top of the footer */
}

.FooterContainer {
  padding-left: 20px;
  padding-right: 20px;
  background-color: black;
  text-align: center;
}

.colz-icon {
  justify-content: center; /* Center the icons horizontally */
  align-items: center; /* Center the icons vertically */
  height: 100px;
}

.colz-icon a {
  margin: 0 5px; /* Adjust horizontal spacing between icons */
}
