.Footer {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7); /* Set darker background color */
  padding-top: 20px; /* Add padding to the top of the footer */
}

.FooterContainer {
  text-align: center;
  color: white;
}

.colz-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.colz-icon a {
  margin: 0 10px; /* Increase horizontal spacing between icons */
  font-size: 24px; /* Adjust icon size */
  color: white;
  transition: color 0.3s ease; /* Add transition effect for color change */
}

.colz-icon a:hover {
  color: #999; /* Change icon color on hover to lighter */
}
